body {
	font-family: sans-serif;
}

div:nth-child(even)
{
	background-color: #bbb;
}

div:nth-child(odd)
{
	background-color: #ccc;
}

div {
	height: 250px;
	width: 500px;
	padding: 20px;
	float: left;
}

div:hover {
	background-color: #eee;
}

img {

	float: left;
	border-radius: 100%;
	margin-right: 50px;
}