body {
	font-family: sans-serif;
}

.summary:nth-child(even)
{
	background-color: #bbb;
}

.summary:nth-child(odd)
{
	background-color: #ccc;
}

.summary {
	height: 250px;
	width: 500px;
	padding: 20px;
	float: left;
}

.summary:hover {
	background-color: #eee;
}

img {

	float: left;
	border-radius: 100%;
	margin-right: 50px;
}

h2 {
	text-decoration: underline
}

ul li:first-child {
	color: #cc0000;
}